<html style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">
    <body style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">
    <div>
        <h1>
            View Events
        </h1>
        <div class="center">
          <button class="my-class" mat-raised-button color="primary" onclick="location.href='addEvent'">Add Event</button>
          <button class="my-class" mat-raised-button color="primary" onclick="location.href='ViewEvents/edit/:id'">View Edit Page</button>

          <br>
          <br>
        <table mat-table [dataSource]="events2" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      ID
    </th>
    <td mat-cell *matCellDef="let element"> {{element.intEventID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Name
    </th>
    <td mat-cell *matCellDef="let element"><a href="/ViewInflatables/edit/{{element.intBounceHouseID}}">{{element.strEventDescription}}</a> </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
    </div>
</body>

</html>