<html style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">
    <body style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">

<div class="container my-5">
  <h1 class="mb-3">Employees</h1>

  <table class="table" *ngIf="employees && employees.length > 0">
    <thead>
      <div style="padding-bottom: 20px">
        <a [routerLink]="['/employees', 'add']"><button  class = "myButton">Add</button></a>
      </div>
      <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Date Of Birth</th>
        <th>Email</th>
        <th>Driving Status</th>
        <th>Employment Title</th>
        <th>Edit</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.intEmployeeID}}</td>
        <td>{{employee.strFirstName}}</td>
        <td>{{employee.strLastName}}</td>
        <td>{{employee.strPhoneNumber}}</td>
        <td>{{employee.strAddress}}</td>
        <td>{{employee.strCity}}</td>
        <td>{{employee.strState}}</td>
        <td>{{employee.strZip}}</td>
        <td>{{employee.strDateOfBirth}}</td>
        <td>{{employee.strEmail}}</td>
        <td>{{employee.strDrivingStatus}}</td>
        <td>{{employee.strEmploymentTitle}}</td>
        <td><a [routerLink]="['/employees', 'edit', employee.intEmployeeID]"><button class="myButton">Edit</button></a></td>
      </tr>
    </tbody>
  </table>
</div>
</body></html>