<div class="container my-5">
  <h1 class="mb-3">Edit Event</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updateEvent()">
        <div class="mb-3">
          <label for="id" class="form-label">Event ID</label>
          <input type="text" class="form-control" id="id" readonly
          name="id" [(ngModel)]="eventDetails.intEventID"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="strEventType" class="form-label">Event Type</label>
          <input type="text" class="form-control" id="strEventType"
          name="strEventType" [(ngModel)]="eventDetails.strEventType"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="intCustomerID" class="form-label">Customer ID</label>
          <input type="number" class="form-control" id="intCustomerID"
          name="intCustomerID" [(ngModel)]="eventDetails.intCustomerID"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="dteEventStartDate" class="form-label">Event Start Date</label>
          <input type="date" class="form-control" id="dteEventStartDate"
          name="dteEventStartDate" [(ngModel)]="eventDetails.dteEventStartDate"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="dteEventEndDate" class="form-label">Event End Date</label>
          <input type="date" class="form-control" id="dteEventStartDate"
          name="dteEventEndDate" [(ngModel)]="eventDetails.dteEventEndDate"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="strEventName" class="form-label">Event Name</label>
          <input type="text" class="form-control" id="dteEventStartDate"
          name="strEventName" [(ngModel)]="eventDetails.strEventName"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="strEventStartTime" class="form-label">Start Time</label>
          <input type="text" class="form-control" id="strEventStartTime"
          name="strEventStartTime" [(ngModel)]="eventDetails.strEventStartTime"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="strEventEndTime" class="form-label">End Time</label>
          <input type="text" class="form-control" id="strEventEndTime"
          name="strEventEndTime" [(ngModel)]="eventDetails.strEventEndTime"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="strEventSetupTime" class="form-label">Setup Time</label>
          <input type="text" class="form-control" id="strEventSetupTime"
          name="strEventSetupTime" [(ngModel)]="eventDetails.strEventSetupTime"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="strEventDescription" class="form-label">Description</label>
          <input type="text" class="form-control" id="strEventDescription"
          name="strEventDescription" [(ngModel)]="eventDetails.strEventDescription"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="intInflatablesNeeded" class="form-label">Inflatables Needed</label>
          <input type="number" class="form-control" id="intInflatablesNeeded"
          name="intInflatablesNeeded" [(ngModel)]="eventDetails.intInflatablesNeeded"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="intEmployeesForTheEvent" class="form-label">Employee's For The Event</label>
          <input type="number" class="form-control" id="intEmployeesForTheEvent"
          name="intEmployeesForTheEvent" [(ngModel)]="eventDetails.intEmployeesForTheEvent"> <!--Bind to property in ts file-->
        </div>
        <div class="mb-3">
          <label for="strLocation" class="form-label">Location</label>
          <input type="text" class="form-control" id="strLocation"
          name="strLocation" [(ngModel)]="eventDetails.strLocation"> <!--Bind to property in ts file-->
        </div>

        <button type="submit" class="btn btn-primary mr-5">Save</button>
        <button type="button" class="btn btn-danger"
        (click)="deleteEvent(eventDetails.intEventID)">Delete</button>
      </form>
    </div>
  </div>
</div>

<!--Event Bounce House Table-->
<div class="container my-5">
  <h1 class="mb-3">Event Bounce Houses</h1>
  <table class="table" *ngIf="eventBounceHouses && eventBounceHouses.length > 0">
    <thead>
      <tr>
        <th>Bounce House</th>
        <th>Employee's Required for Setup</th>
        <th>Blowers Required</th>
        <th>Stakes Required</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eventBounceHouse of eventBounceHouses">
        <td>{{eventBounceHouse.strBounceHouseName}}</td>
        <td>{{eventBounceHouse.intEmployeesNeededForSetup}}</td>
        <td>{{eventBounceHouse.intNumberOfBlowersRequired}}</td>
        <td>{{eventBounceHouse.intNumberOfStakesRequired}}</td>
        <td><button type="button" class="btn btn-danger"
          (click)="removeBounceHouse(eventBounceHouse.intEventBounceHouseID)">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!eventBounceHouses || eventBounceHouses.length <= 0">No Bounce Houses Found.</p>
</div>


<!--Event Vehicles Table-->
<div class="container my-5">
  <h1 class="mb-3">Event Vehicles</h1>
  <table class="table" *ngIf="eventVehicles && eventVehicles.length > 0">
    <thead>
      <tr>
        <th>Vehicle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eventVehicle of eventVehicles">
        <td>{{eventVehicle.strVehicleName}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!eventVehicles || eventVehicles.length <= 0">No Vehicles Found.</p>
</div>


<!--Event Equipments Table-->
<div class="container my-5">
  <h1 class="mb-3">Event Equipment</h1>
  <table class="table" *ngIf="eventEquipments && eventEquipments.length > 0">
    <thead>
      <tr>
        <th>Equipment</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of eventEquipments">
        <td>{{equipment.strEquipmentName}}</td>
        <td>{{equipment.strDescription}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!eventEquipments || eventEquipments.length <= 0">No Equipment Found.</p>
</div>


<!--Event Employees Table-->
<div class="container my-5">
  <h1 class="mb-3">Event Employee's</h1>
  <table class="table" *ngIf="eventEmployees && eventEmployees.length > 0">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Driving Status</th>
        <th>Employment Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of eventEmployees">
        <td>{{employee.strFirstName}}</td>
        <td>{{employee.strLastName}}</td>
        <td>{{employee.strPhoneNumber}}</td>
        <td>{{employee.strDrivingStatus}}</td>
        <td>{{employee.strEmploymentTitle}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!eventEmployees || eventEmployees.length <= 0">No Employee's Found.</p>
</div>


<!--Event Environments Table-->
<div class="container my-5">
  <h1 class="mb-3">Event Environment</h1>
  <table class="table" *ngIf="eventEnvironmentTypes && eventEnvironmentTypes.length > 0">
    <thead>
      <tr>
        <th>Environment Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flooring of eventEnvironmentTypes">
        <td>{{flooring.strEnvironmentType}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!eventEnvironmentTypes || eventEnvironmentTypes.length <= 0">No Environment Type.</p>
</div>
