

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
  <div class="main-content">
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://user-images.githubusercontent.com/79421698/204444597-27384cc7-f53c-48f1-8644-01e5712d1dfa.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-xlg-7 col-md-10">
            <h1 class="display-2 text-white" style="text-align: center; vertical-align: top;">Event on {{ dtmStart | date:'MM/dd/yyyy'}} - {{ dtmEnd | date:'MM/dd/yyyy' }} </h1>
          </div>
        </div>

    </div>
    <!-- Page content -->
    
        <div class="col-xl-8 order-xl-1">
                      <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Event Info</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Edit</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">General Info</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-name">Event Name</label>
                        <input type="text" id="input-name" class="form-control form-control-alternative" placeholder="Name" value="">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-type">Event Type</label>
                        <select name="input-type" id="input-type" class="form-control form-control-alternative" placeholder="Bounce House" value = "">
                            <option value="School">School</option>
                            <option value="Gym">Gym</option>
                            <option value="Church">Church</option>
                            <option value="Festival">Festival</option>
                            <option value="Private Party">Private Party</option>
                            <option value="Other">Other</option>
                          </select>
                      </div>
                    </div> 
                  </div>
                </div>
                <div class="pl-lg-4">
                    <div class="form-group focused">
                      <label>Description</label>
                      <textarea id="input-descript" name="input-descript" rows="3" class="form-control form-control-alternative" placeholder="A few words about the event ..."></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-type">Flooring Type</label>
                      <select name="input-type" id="input-flooring" class="form-control form-control-alternative" placeholder="Bounce House" value = "">
                          <option value="Outdoor On Grass">Outdoor On Grass</option>
                          <option value="Outdoor On Pavement">Outdoor On Pavement</option>
                          <option value="Indoor In Gym">Indoor In Gym</option>
                        </select>
                    </div>
                  </div> 
                  <div class="mb-3">
                    <label for="eventCustomer" class="form-label">Choose a Customer:</label>
                    <select class="form-control" id="eventCustomer" name="eventCustomer" [(ngModel)]="intCustomerID">
                      <option *ngFor="let customer of customers" [value]="customer.intCustomerID">
                        {{customer.strFirstName}} {{customer.strLastName}}
                      </option>
                    </select>
                  </div>
                <h6 class="heading-small text-muted mb-4">Date/Time Info</h6>
                <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-name">Date of Rental</label>
                          <input (change) = 'onchange()'[formControl]="dateFormCtrl"  type="date" class="form-control form-control-alternative" placeholder = "dteEventStartDate">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-type">Number of Days Requested</label>
                          <select (change) = 'onchange()'[formControl]="daysFormCtrl" name="days" class="form-control form-control-alternative" placeholder="Bounce House" value = "intDays3">
                              <option value=0 selected>1</option>
                              <option value=1>2</option>
                              <option value=2>3</option>
                              <option value=3>4</option>
                              <option value=4>5</option>
                              <option value=5>6+</option>
                            </select>
                        </div>
                      </div> 
                    </div>
                  </div>
                  <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-name">Event Start Time</label>
                            <input type="time" id="input-startTime" class="form-control form-control-alternative" value = "">
                          </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                              <label class="form-control-label" for="input-name">Event End Time</label>
                              <input type="time" id="input-endTime" class="form-control form-control-alternative" value = "">
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group focused">
                              <label class="form-control-label" for="input-name">Setup Time</label>
                              <input type="time" id="input-setupTime" class="form-control form-control-alternative" value = "">
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group focused">
                              <label class="form-control-label" for="input-name">Employees Needed to Staff Event/Run Inflatables</label>
                              <select name="input-staff" id="input-staff" class="form-control form-control-alternative" placeholder="Bounce House" value = "">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                            </div>
                          </div>
                      </div>
                    </div>
                    <h6 class="heading-small text-muted mb-4">Location Info</h6>
                    <div class="pl-lg-4">
                      <div class="form-group focused">
                        <label>Address</label>
                        <textarea id="input-address" name="input-address" rows="1" class="form-control form-control-alternative" placeholder=""></textarea>
                      </div>
                    </div>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-name">City</label>
                            <input type="text" id="input-city" class="form-control form-control-alternative" value="">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-type">State</label>
                            <input type="text" id="input-state" class="form-control form-control-alternative" placeholder="Name" value="">
                          </div>
                        </div> 
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-type">Zip</label>
                            <input type="text" id="input-zip" class="form-control form-control-alternative" placeholder="" value="">
                          </div>
                        </div> 
                      </div>
                    </div>
                <!-- Address -->


                
                <h6 class="heading-small text-muted mb-4">Inflatables Needed</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-name">Bounce Houses</label>
                        <br>
                        <br>
                        <div *ngFor="let data of arrBounce; let i = index" >
                        <input class="form-check-input" type="checkbox" value="{{ data.intBounceHouseID }}" id="bounceCheck{{ i }}">
                        <label style="padding-left: 8px;"      class="form-check-label" for="bounceCheck{{ i }}">
                          <p>  {{ data.strBounceHouseName }}</p>
                        </label>
                      </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-name">Fun & Games</label>
                        <br>
                        <br>
                        <div *ngFor="let data of arrFun; let i = index" >
                        <input class="form-check-input" type="checkbox" value="{{ data.intBounceHouseID  }}" id="funCheck{{ i }}"  >
                        <label style="padding-left: 8px;"      class="form-check-label" for="funCheck{{ i }}">
                          <p>  {{ data.strBounceHouseName }} </p>
                        </label>
                      </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-name">Combos</label>
                          <br>
                          <br>
                          <div *ngFor="let data of arrCombo; let i = index" >
                          <input class="form-check-input" type="checkbox" value="{{ data.intBounceHouseID }}" id="comboCheck{{ i }}" >
                          <label style="padding-left: 8px;"      class="form-check-label" for="comboCheck{{ i }}">
                            <p>  {{ data.strBounceHouseName }}</p>
                          </label>
                        </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-name">Midway Rush Games</label>
                          <br>
                          <br>
                          <div *ngFor="let data of arrMidway; let i = index" >
                          <input class="form-check-input" type="checkbox" value="{{ data.intBounceHouseID }}" id="midwayCheck{{ i }}"  >
                          <label style="padding-left: 8px;"      class="form-check-label" for="midwayCheck{{ i }}">
                            <p>  {{ data.strBounceHouseName }}</p>
                          </label>
                        </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-name">Slides</label>
                            <br>
                            <br>
                            <div *ngFor="let data of arrSlide; let i = index" >
                            <input class="form-check-input" type="checkbox" value="{{ data.intBounceHouseID }}" id="slideCheck{{ i }}" >
                            <label style="padding-left: 8px;"      class="form-check-label" for="slideCheck{{ i }}">
                              <p>  {{ data.strBounceHouseName }}</p>
                            </label>
                          </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-name">Obstacles</label>
                            <br>
                            <br>
                            <div *ngFor="let data of arrObstacle; let i = index" >
                            <input class="form-check-input" type="checkbox" value="{{ data.intBounceHouseID }}" id="obstacleCheck{{ i }}"  >
                            <label style="padding-left: 8px;"      class="form-check-label" for="obstacleCheck{{ i }}">
                              <p>  {{ data.strBounceHouseName }}</p>
                            </label>
                          </div>
                          </div>
                        </div>
                      </div>
                      </div>
                      <h6 class="heading-small text-muted mb-4">Vehicle Info</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-name">Vehicles</label>
                            <br>
                            <br>
                            <div *ngFor="let data of vehicles; let i = index" >
                            <input class="form-check-input" type="checkbox" value="{{ data.intVehicleID }}" id="vehicleCheck{{ i }}"  [disabled]="">
                            <label style="padding-left: 8px;"      class="form-check-label" for="vehicleCheck{{ i }}">
                              <p>  {{ data.strVehicleName }}</p>
                            </label>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>





                <!-- <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <form [formGroup]="form" (ngSubmit)="submit()">
                          <label formArrayName="orders" *ngFor="let order of ordersFormArray.controls; let i = index">
                            <input type="checkbox" [formControlName]="i"> 
                            {{webData[i].name}} 
                          </label>
                        
                          <br/>
                        </form>
                        <br/>
                      </div>
                    </div>
                  </div>
                  </div>
                   -->
                <button class="btn btn-primary" (click)="checkBoxes()" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- <table class="table" *ngIf="bounceHouses2 && bounceHouses2.length > 0">
        <thead>
          <tr>
            <th>Bounce House ID</th>
            <th>Bounce House Type ID</th>
            <th>Bounce House Name</th>
            <th>Description</th>
            <th>Employee's Needed For Setup</th>
            <th>Number Of Stakes Required</th>
            <th>Number Of Blowers Required</th>
            <th>Date Of Last Purchase</th>
            <th>URL</th>
            <th>Purchase Year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bounceHouse of bounceHouses2">
            <td>{{bounceHouse.intBounceHouseID}}</td>
            <td>{{bounceHouse.intBounceHouseTypeID}}</td>
            <td>{{bounceHouse.strBounceHouseName}}</td>
            <td>{{bounceHouse.strDescription}}</td>
            <td>{{bounceHouse.intEmployeesNeededForSetup}}</td>
            <td>{{bounceHouse.intNumberOfStakesRequired}}</td>
            <td>{{bounceHouse.intNumberOfBlowersRequired}}</td>
            <td>{{bounceHouse.strDateOfLastPurchase}}</td>
            <td>{{bounceHouse.strURL}}</td>
            <td>{{bounceHouse.intPurchaseYear}}</td>
            <td><a [routerLink]="['/bouncehouses', 'edit', bounceHouse.intBounceHouseID]">Edit</a></td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!bounceHouses2 || bounceHouses2.length <= 0">No Inflatables Found.</p> -->

</body>