.material-icons{
    color: lightgrey;
    cursor: pointer;
}

.mat-form-field{
    width: 50%;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }