.material-icons{
    color: lightgrey;
    cursor: pointer;
}

.mat-form-field{
    width: 50%;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .new {
	background: linear-gradient(45deg, #49a09d, #5f2c82);
  background-size:100% 100%;
  size: 100% 100%;
	font-family: sans-serif;
	font-weight: 100;
  height: auto;
}