
<html style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">
  <body style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">


<div class="container my-5">
  <h1 class="mb-3">Vehicles</h1>
  <div style="padding-bottom: 20px; padding-left: 330px" class = "">
    <a [routerLink]="['/vehicles', 'add']"><button  class = "myButton">Add Vehicle</button></a>
  </div>

  <table class="center" *ngIf="vehicles && vehicles.length > 0">
    <thead>
      <tr>
        <th>Vehicle ID</th>
        <th>Vehicle Name</th>
        <th>Quantity</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{vehicle.intVehicleID}}</td>
        <td>{{vehicle.strVehicleName}}</td>
        <td>{{vehicle.intQuantity}}</td>
        <td><a [routerLink]="['/vehicles', 'edit', vehicle.intVehicleID]"><button class="myButton">Edit</button></a></td>
      </tr>
    </tbody>
  </table>
</div>
  </body>
  </html>
