<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body>
  <div class="main-content">
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 1500px; background-image: url(https://user-images.githubusercontent.com/79421698/204444597-27384cc7-f53c-48f1-8644-01e5712d1dfa.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Page content -->
        <div class="col-xl-8 order-xl-1" style="border: 0px; width:800px; margin:0 auto;">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div >
                  <h1>Add Event Equipment For - {{eventDetails.strEventName}}</h1>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <div class="pl-lg-4">
                  <div class="row">
                    <div >
                                      <!-- Event Name -->
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-name">Event Date</label>
                        <h2>{{eventDetails.dteEventStartDate}}</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused" style="margin-right:1px">
                        <label class="form-control-label" for="input-name" >Bounce Houses</label>
                        <br>
                        <br>
                        <div>
                          <table class="table" *ngIf="availableBounceHouses && availableBounceHouses.length > 0">
                            <tbody>
                              <tr *ngFor="let bounceHouse of availableBounceHouses">
                                <td>{{bounceHouse.strBounceHouseName}}</td>
                                <td><button type="button" class="btn btn-primary"
                                  (click)="addEventBounceHouse(bounceHouse.intBounceHouseID)">Add</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-name">Fun & Games</label>
                        <br>
                        <br>
                        <div>
                          <table class="table" *ngIf="availableFunAndGames && availableFunAndGames.length > 0">
                            <tbody>
                              <tr *ngFor="let game of availableFunAndGames">
                                <td>{{game.strBounceHouseName}}</td>
                                <td><button type="button" class="btn btn-primary"
                                  (click)="addEventBounceHouse(game.intBounceHouseID)">Add</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-name">Combos</label>
                          <br>
                          <br>
                          <div>
                            <table class="table" *ngIf="availableCombos && availableCombos.length > 0">
                              <tbody>
                                <tr *ngFor="let combo of availableCombos">
                                  <td>{{combo.strBounceHouseName}}</td>
                                  <td><button type="button" class="btn btn-primary"
                                    (click)="addEventBounceHouse(combo.intBounceHouseID)">Add</button></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group focused">
                          <label class="form-control-label" for="input-name">Midway Rush Games</label>
                          <br>
                          <br>
                          <div>
                            <table class="table" *ngIf="availableMidwayRushGames && availableMidwayRushGames.length > 0">
                              <tbody>
                                <tr *ngFor="let rushGame of availableMidwayRushGames">
                                  <td>{{rushGame.strBounceHouseName}}</td>
                                  <td><button type="button" class="btn btn-primary"
                                    (click)="addEventBounceHouse(rushGame.intBounceHouseID)">Add</button></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-name">Slides</label>
                            <br>
                            <br>
                            <div>
                              <table class="table" *ngIf="availableSlides && availableSlides.length > 0">
                                <tbody>
                                  <tr *ngFor="let slide of availableSlides">
                                    <td>{{slide.strBounceHouseName}}</td>
                                    <td><button type="button" class="btn btn-primary"
                                      (click)="addEventBounceHouse(slide.intBounceHouseID)">Add</button></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group focused">
                            <label class="form-control-label" for="input-name">Obstacles</label>
                            <br>
                            <br>
                            <div>
                              <table class="table" *ngIf="availableObstacles && availableObstacles.length > 0">
                                <tbody>
                                  <tr *ngFor="let obstacle of availableObstacles">
                                    <td>{{obstacle.strBounceHouseName}}</td>
                                    <td><button type="button" class="btn btn-primary"
                                      (click)="addEventBounceHouse(obstacle.intBounceHouseID)">Add</button></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                      <h6 class="heading-small text-muted mb-4">Vehicles</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">

                            <label class="form-control-label" for="input-name">Vehicles</label>
                            <br>
                            <br>
                            <div>
                              <table class="table" *ngIf="availableVehicles && availableVehicles.length > 0">
                                <tbody>
                                  <tr *ngFor="let vehicle of availableVehicles">
                                    <td>{{vehicle.strVehicleName}}</td>
                                    <td><button type="button" class="btn btn-primary"
                                      (click)="addEventVehicle(vehicle.intVehicleID)">Add</button></td>
                                  </tr>
                                </tbody>
                              </table>

                        </div>
                      </div>
                      <div class="form-group focused">

                        <label class="form-control-label" for="input-name">Employees</label>
                        <br>
                        <br>
                        <div>
                          <table class="table" *ngIf="availableEmployees && availableEmployees.length > 0">
                            <tbody>
                              <tr *ngFor="let employee of availableEmployees">
                                <td>{{employee.strFirstName}} {{employee.strLastName}}</td>
                                <td><button type="button" class="btn btn-primary"
                                  (click)="addEventEmployee(employee.intEmployeeID)">Add</button></td>
                              </tr>
                            </tbody>
                          </table>

                    </div>
                  </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-name">Equipment</label>
                        <br>
                        <br>
                        <div>
                          <table class="table" *ngIf="availableEquipment && availableEquipment.length > 0">
                            <tbody>
                              <tr *ngFor="let equipment of availableEquipment">
                                <td>{{equipment.strEquipmentName}}</td>
                                <td><button type="button" class="btn btn-primary"
                                  (click)="addEventEquipment(equipment.intEquipmentID)">Add</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
</body>
