<html style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">
    <body style="background-color:#ced3d6; font-family: Arial, Helvetica, sans-serif;">


<div class="container my-5">
  <h1 class="mb-3">Customers</h1>

  <table class="center" *ngIf="customers && customers.length > 0">
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Email</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.intCustomerID}}</td>
        <td>{{customer.strFirstName}}</td>
        <td>{{customer.strLastName}}</td>
        <td>{{customer.strAddress}}</td>
        <td>{{customer.strCity}}</td>
        <td>{{customer.strState}}</td>
        <td>{{customer.strZip}}</td>
        <td>{{customer.strEmail}}</td>
        <td><a [routerLink]="['/customers', 'edit', customer.intCustomerID]"><button class="myButton">Edit</button></a></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!customers || customers.length <= 0">No Customers Found.</p>
</div>

</body>
  </html>