





<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body style="min-height: 1500px;">
  <div class="main-content">
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 1500px; background-image: url(https://user-images.githubusercontent.com/79421698/204444597-27384cc7-f53c-48f1-8644-01e5712d1dfa.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>

    <!-- Page content -->
        <div class="col-xl-8 order-xl-1" style="border: 0px; width:800px; margin:0 auto;">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Add Equipment</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Home</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form #form="ngForm" (ngSubmit)="addVehicle()">
                <div class="mb-3">
                  <label for="strVehicleName" class="form-label">Vehicle Name</label>
                  <input type="text" class="form-control" id="strVehicleName"
                  name="strVehicleName" [(ngModel)]="addVehicleRequest.strVehicleName"> <!--Bind to property in ts file-->
                </div>
                <div class="mb-3">
                  <label for="intQuantity" class="form-label">Quantity</label>
                  <input type="number" class="form-control" id="intQuantity"
                  name="intQuantity" [(ngModel)]="addVehicleRequest.intQuantity"> <!--Bind to property in ts file-->
                </div>
        
        
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
</body>

