



<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body style="min-height: 1500px;">
  <div class="main-content">
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 1500px; background-image: url(https://user-images.githubusercontent.com/79421698/204444597-27384cc7-f53c-48f1-8644-01e5712d1dfa.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>

    <!-- Page content -->
        <div class="col-xl-8 order-xl-1" style="border: 0px; width:800px; margin:0 auto;">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">New Inflatable</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Home</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form #form="ngForm" (ngSubmit)="addBounceHouse()">
                <div class="mb-3">
                  <label for="intBounceHouseTypeID" class="form-label">Bounce House Type</label>
                  <select class="form-control" id="intBounceHouseTypeID"
                  name="intBounceHouseTypeID" [(ngModel)]="addBounceHouseRequest.intBounceHouseTypeID">
                    <option value="1">Bounce House</option>
                    <option value="2">Giant Slide</option>
                    <option value="3">Combos</option>
                    <option value="4">Midway Rush Games</option>
                    <option value="5">Fun & Games</option>
                    <option value="6">Obstacles</option>
                  </select> <!--Bind to property in ts file-->
                </div>

                <div class="mb-3">
                  <label for="strBounceHouseName" class="form-label">Bounce House Name</label>
                  <input type="text" class="form-control" id="strBounceHouseName"
                  name="strBounceHouseName" [(ngModel)]="addBounceHouseRequest.strBounceHouseName"> <!--Bind to property in ts file-->
                </div>
                <div class="mb-3">
                  <label for="strDescription" class="form-label">Description</label>
                  <input type="text" class="form-control" id="strDescription"
                  name="strDescription" [(ngModel)]="addBounceHouseRequest.strDescription"> <!--Bind to property in ts file-->
                </div>
                <div class="mb-3">
                  <label for="intEmployeesNeededForSetup" class="form-label">Employee's Needed For Setup</label>
                  <input type="number" class="form-control" id="intEmployeesNeededForSetup"
                  name="intEmployeesNeededForSetup" [(ngModel)]="addBounceHouseRequest.intEmployeesNeededForSetup"> <!--Bind to property in ts file-->
                </div>
                <div class="mb-3">
                  <label for="intNumberOfStakesRequired" class="form-label">Number Of Stakes Required</label>
                  <input type="number" class="form-control" id="intNumberOfStakesRequired"
                  name="intNumberOfStakesRequired" [(ngModel)]="addBounceHouseRequest.intNumberOfStakesRequired"> <!--Bind to property in ts file-->
                </div>
                <div class="mb-3">
                  <label for="strDateOfLastPurchase" class="form-label">Last Date of Purchase</label>
                  <input type="text" class="form-control" id="strDateOfLastPurchase"
                  name="strDateOfLastPurchase" [(ngModel)]="addBounceHouseRequest.strDateOfLastPurchase"> <!--Bind to property in ts file-->
                </div>
                <div class="mb-3">
                  <label for="strURL" class="form-label">URL</label>
                  <input type="text" class="form-control" id="strURL"
                  name="strURL" [(ngModel)]="addBounceHouseRequest.strURL"> <!--Bind to property in ts file-->
                </div>
                <div class="mb-3">
                  <label for="intPurchaseYear" class="form-label">Purchase Year</label>
                  <input type="number" class="form-control" id="intPurchaseYear"
                  name="intPurchaseYear" [(ngModel)]="addBounceHouseRequest.intPurchaseYear"> <!--Bind to property in ts file-->
                </div>
        
        
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
</body>


